<script src="~/js/excel-bootstrap-table-filter-bundle.min.js"></script>
<link href="~/css/excel-bootstrap-table-filter-style.css" rel="stylesheet" />
@model EquipmentListDto
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h2 class="page-title" style="text-align:center"><strong>TÜM EKİPMANLAR</strong></h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="text-align:center"><strong>Ekipman Bilgileri</strong></h3>
                                <br />
                                @if (Model.Equipments.Count > 0)
                                {
                                    <table class="table table-striped" id="table">
                                        <thead>
                                            <tr>
                                                <th class="filter">Ekipman İsmi</th>
                                                <th class="filter">Ekipman Kategorisi</th>
                                                <th class="filter">Period</th>
                                                <th class="filter">Bakım İsmi</th>
                                                <th>Bakım Açıklaması</th>
                                                @if (User.IsInRole("Engineer") || User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                                {
                                                    <th>Araçlar</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Equipments)
                                            {
                                                <tr>
                                                    <td onclick="selectEquipment(@item.Id)">@item.Name</td>
                                                    <td>@item.EquipmentCategory.Name</td>
                                                    <td>@item.Period</td>
                                                    <td>@item.MaintenanceName</td>
                                                    <td>@item.MaintenanceComment</td>
                                                    @if (User.IsInRole("Engineer") || User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                                    {
                                                        <td>
                                                            <a style="width:150px;margin-bottom:3px" class="btn btn-warning" onclick="editEquipment(@item.Id)">
                                                                Düzenle
                                                            </a>
                                                            <a style="width:150px;margin-bottom:3px"  class="btn btn-primary" onclick="addProject(@item.Id)">
                                                                Projeye Ekle
                                                            </a>
                                                            <a style="width:150px" class="btn btn-default" onclick="copyEquipment(@item.Id)">
                                                                Ekipmanı Kopyala
                                                            </a>
                                                            <a style="width:150px" class="btn btn-danger" onclick="deleteEquipment(@item.Id)">
                                                                Ekipmanı Sil
                                                            </a>
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <center><i>Ekipman bulunamadı!</i></center>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="selectProjectModalPage"></div>
<div id="editEquipmentModalPage"></div>
<div id="editAddProjectModalPage"></div>
<script>
    // =======================
    // SEARCH
    // =======================
    $('#table').excelTableFilter({
        columnSelector: '.filter',    // (optional) if present, will only select <th> with specified class
        sort: true,                         // (optional) default true
        search: true                    // (optional) default { a_to_z: 'A to Z', z_to_a: 'Z to A', search: 'Search', select_all: 'Select All' }
    });
    // =======================
    function selectEquipment(equipmentId) {
        $.ajax({
            url: '/Equipment/Select/?Id=' + equipmentId,
            success: function (data) {
                $('#selectProjectModalPage').html(data);
                $('#selectProjectModal').modal('show');
            }
        });
    }
    // =======================
    // =======================
    function editEquipment(equipmentId) {
        $.ajax({
            url: '/Equipment/Edit/?Id=' + equipmentId,
            success: function (data) {
                $('#editEquipmentModalPage').html(data);
                $('#editEquipmentModal').modal('show');
            }
        });
    }
    // =======================
    // =======================
    function addProject(equipmentId) {
        $.ajax({
            url: '/Equipment/AddProjectEquipment/?Id=' + equipmentId,
            success: function (data) {
                $('#editAddProjectModalPage').html(data);
                $('#editAddProjectModal').modal('show');
            }
        });
    }
    // =======================
    function copyEquipment(equipmentId) {
        Swal.fire({
            title: 'Ekipmanı kopyalamak istiyor musunuz ?',
            text: "Onaylandıktan sonra tekrar geri alınamaz!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, onaylıyorum',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Equipment/Copy/?Id=' + equipmentId,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'Note': equipmentId,
                    },
                    success: function (data) {
                        if (data == true) {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Başarıyla kopyalanmıştır!',
                                showConfirmButton: false,
                                timer: 800
                            }).then(() => {
                                location.reload();
                            })
                        }
                        else {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: 'Bir hata oluştu!',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                location.reload();
                            })
                        }
                    },
                    error: function (data) {
                    }
                });
            }
        })
    }
    // ==========================
    // ==========================
    function deleteEquipment(Id) {
        Swal.fire({
            title: 'Ekipmanı silmek istiyor musunuz?',
            text: "Ekipman silindikten sonra tekrar geri alınamaz!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, onaylıyorum',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
               $.ajax({
                url: '@Url.Action("Delete", "Equipment")',
                type: 'POST',
                dataType: 'json',
                   data: {
                    'Id':Id,
                },
                success: function (data) {
                    if (data == true) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Başarıyla silinmiştir!',
                            showConfirmButton: false,
                            timer: 800
                        }).then(() => {
                            location.reload();
                        })
                    }
                    else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Bir hata oluştur!',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            location.reload();
                        })
                    }
                },
                error: function (data) {
                }
            });
            }
        })

    }
</script>