<script src="~/js/excel-bootstrap-table-filter-bundle.min.js"></script>
<link href="~/css/excel-bootstrap-table-filter-style.css" rel="stylesheet" />
@model RobotToBeMaintainedListDto
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h2 class="page-title" style="text-align:center"><strong>ONAYLANACAK ROBOT BAKIMLARI</strong></h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="text-align:center"><strong>Robot Bakım Bilgileri</strong></h3>
                                <br />
                                @if (Model.RobotToBeMaintained.Count > 0)
                                {
                                    <table class="table table-striped" id="table">
                                        <thead>
                                            <tr>
                                                <th class="filter">Proje İsmi</th>
                                                <th class="filter">Robot İsmi</th>
                                                <th>Bakım Adı</th>
                                                <th>Bakım Periodu</th>
                                                <th class="filter">Bakım Yapılma Tarihi</th>
                                                <th>Bakım Notu</th>
                                                <th>Bakım Onay</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.RobotToBeMaintained)
                                            {
                                                DateTime date = new DateTime();
                                                if (item.DoneOrNotDone)
                                                    date = item.MaintenanceDate.AddDays(item.RobotMaintenance.Maintenance.Period);
                                                else
                                                    date = item.MaintenanceDate;

                                                <tr>
                                                    <td>@item.ProjectRobot.Project.Name</td>
                                                    <td>@item.RobotMaintenance.Robot.Name</td>
                                                    <td>@item.RobotMaintenance.Maintenance.Name</td>
                                                    <td>@item.RobotMaintenance.Maintenance.Period Gün</td>
                                                    <td>@item.MaintenanceDate.ToShortDateString()</td>
                                                    <td>@item.Note</td>
                                                    <td>
                                                        <a style="height:30px;width:30px" class="btn btn-success" onclick="confirmMaintenance(@item.Id)">
                                                            <i class="fa fa-check-circle" style="color:White;margin-left:-7px"></i>
                                                        </a>
                                                        <a style="height:30px;width:30px" class="btn btn-danger" onclick="deniedMaintenance(@item.Id)">
                                                            <i class="fa fa-times-circle" style="color:White;margin-left:-7px"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <center><i>Ekipman bakımı bulunamadı!</i></center>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var equipmentMaintenanceDate;
    $(document).ready(function () {
        getDateTime()
    });
    // =======================
    // SEARCH
    // =======================
    $('#table').excelTableFilter({
        columnSelector: '.filter',    // (optional) if present, will only select <th> with specified class
        sort: true,                         // (optional) default true
        search: true                    // (optional) default { a_to_z: 'A to Z', z_to_a: 'Z to A', search: 'Search', select_all: 'Select All' }
    });
    // ========================
    // DATETIME.NOW
    // ========================
    function getDateTime() {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDate();
            if (month.toString().length == 1) {
                month = '0' + month;
            }
            if (day.toString().length == 1) {
                day = '0' + day;
            }
            equipmentMaintenanceDate = year + '-' + month + '-' + day;
        }
    // ==========================
    function confirmMaintenance(Id) {
        Swal.fire({
            title: 'Bakımı onaylamak istiyor musunuz?',
            text: "Bakım onaylandıktan sonra tekrar geri alınamaz!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, onaylıyorum',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
               $.ajax({
                url: '@Url.Action("Edit", "RobotToBeMaintained")',
                type: 'POST',
                dataType: 'json',
                data: {
                    'Id': Id,
                    'MaintenanceDate': equipmentMaintenanceDate,
                    'DoneOrNotDone': 'True',
                },
                success: function (data) {
                    if (data == true) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Başarıyla güncellenmiştir!',
                            showConfirmButton: false,
                            timer: 800
                        }).then(() => {
                            location.reload();
                        })
                    }
                    else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Aynı isimde bir ekipman mevcut!',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            location.reload();
                        })
                    }
                },
                error: function (data) {
                }
            });
            }
        })
    }
       // ==========================
    function deniedMaintenance(Id) {
        var note = '';
        Swal.fire({
            title: 'Bakım red nedenini giriniz!',
            text: "Bakım reddedildikten sonra tekrar geri alınamaz!",
            input: 'text',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, reddediyorum',
            cancelButtonText: 'İptal',
            preConfirm: (login) => {
                if (login != '') {
                    note = login;
                }
                else {
                    Swal.showValidationMessage(
                        `Lütfen red nedenini giriniz!`
                    )
                }
            }
        }).then((result) => {
            if (result.isConfirmed) {
               $.ajax({
                url: '@Url.Action("Denied", "RobotToBeMaintained")',
                type: 'POST',
                dataType: 'json',
                data: {
                    'Id': Id,
                    'Note': note,
                },
                success: function (data) {
                    if (data == true) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Başarıyla reddedilmiştir!',
                            showConfirmButton: false,
                            timer: 800
                        }).then(() => {
                            location.reload();
                        })
                    }
                    else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Aynı isimde bir ekipman mevcut!',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            location.reload();
                        })
                    }
                },
                error: function (data) {
                }
            });
            }
        })
        }
</script>